.menu-container{
    background: #2D62ED;
    position: relative;
    width:100%;
    left:0;
    height: 100%;
    overflow: none;
}

.menu-container nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 80px;
    margin-bottom: 5px;
    gap: 54px;
}

.menu-container nav a {
    height: 32px;
    color: #FFFFFF80;
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    align-items: center;
    text-decoration: none;
    padding: 0 20px;
}

.menu-container nav a.selected {
    color: white;
}

.menu-container nav a.selected::before {
    content: "";
    position: absolute;
    left: 0;
    height: 36px;
    width: 4px;
    border-radius: 100px;
    background-color: white;
}


.menu-container .icon-container {
    font-size: 32px;
}

.menu-container .label-container {
    font-size: 16px;
    font-weight: 600;
}

button.left, button.right{
    width:30px;
    position: absolute;
    bottom: 20px;
    right: -15px;
}

button.right{
    transform:rotateZ(180deg); 
}

.menu-container .notshow{
    width:72px;
}

.menu-container .notshow .label-container{
    display:none;
}

