.menu-container{
    
    position: relative;
    width:100%;
    left:0;
    height: 100%;
    overflow: none;
}

.navigation{
    height: 30px;
    border:none;
    background-color: white;
}

.menu-container nav{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
}

button.left, button.right{
    width:30px;
    position: absolute;
    bottom: 20px;
    right: -15px;
}

button.right{
    transform:rotateZ(180deg); 
}

.menu-container .notshow{
    width:30px;
}

.menu-container .notshow button.navigation{
    display:none;
}
