.menu-container{
    width:100%;
    left:0;
    height: 100%;
    overflow: none;
}

.menu-container nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 80px;
    margin-bottom: 5px;
    gap: 54px;
    color: #FFFFFF80;
}
.menu-container nav a {
    color: #FFFFFF80;
    text-decoration: none;
}
.menu-container nav .main-link {
    height: 32px;
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    align-items: center;
    padding: 0 20px;
}

.menu-container nav .dropdown-link-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    padding-left: 83px;
    list-style: none;
}

.menu-container nav .dropdown-link::before {
    content: "\2022"; 
    color: #FFFFFF80; 
    font-weight: bold; 
    display: inline-block;
    width: 1em; 
    margin-left: -1em; 
}
.menu-container nav .dropdown-link.selected::before{
    color: white; 
}

.menu-container nav a.selected {
    color: white;
}

.menu-container nav .main-link.selected::before {
    content: "";
    position: absolute;
    left: 0;
    height: 36px;
    width: 4px;
    border-radius: 100px;
    background-color: white;
}

.menu-container .icon-container {
    width: 32px;
    font-size: 32px;
}

.menu-container .text-container {
    font-size: 16px;
    font-weight: 600;
}

.menu-container nav .more-links-toggle {
    cursor: pointer;
}

button.left, button.right{
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 20px;
    right: -15px;
}

button.right{
    transform:rotateZ(180deg); 
}

.menu-container .notshow{
    width:72px;
}

.menu-container .notshow .label-container{
    display:none;
}

.mode{
    position:absolute;
    left:10px;
    bottom:20px;
}

