.course-container {
    width: 900px;
    margin: 0 auto;
}

.course-create {
    display: grid;
    grid-template-columns: 83.5% 17.5%;
    gap: 7px;
    margin-bottom: 30px;
}

.button-create {
    background-color: #00CCF2;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: #F5FBFF;
    font-family: 'Montserrat', semi-bold;
    font-size: 16px;
}

.button-create:focus {
    outline: none;
    border: none;
}

.courses-list {
    display: flex;
    flex-direction: column;
    width: 900px;
}

.course {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    height: 60px;
    border-bottom: 1px solid rgba(39, 45, 59, .15);
    font-size: 20px;
    font-family: 'Montserrat', regular;
}

.course:hover{
    background-color: rgba(0, 211, 248, 0.255);
    border-radius: 5px;
}

.course-update-delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85px;
    height: 40px;
}

.button-update {
    background-color: rgba(255, 255, 255, 0);
    background-size: contain;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
}

.button-delete {
    background-color: rgba(255, 255, 255, 0);
    background-size: contain;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
}

