.current-course-name { 
    text-decoration: none; 
    color: black; 
} 

.darkMode .current-course-name { 
    text-decoration: none; 
    color: whitesmoke; 
} 

.lightMode .current-course-name { 
    text-decoration: none; 
    color: black; 
} 