.course-container {
    width: 900px;
    margin: 0 auto;
}

.course-create {
    display: grid;
    grid-template-columns: 760px 1fr;;
    gap: 7px;
    margin-bottom: 50px;
}

.button-create {
    background-color: white;
    height: 40px;
    outline: none;
    border: 2px solid rgb(41, 3, 253);
    border-radius: 5px;
    width: inherit;
}

.courses-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 900px;
}

.course {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    height: 60px;
    border: 2px solid rgb(41, 3, 253);
    border-radius: 5px;
    font-size: 20px;
}

.course-update-delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85px;
    height: 40px;
}

.button-update {
    background-color: white;
    background-size: contain;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
}

.button-delete {
    background-color: white;
    background-size: contain;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
}

