.input-course-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 40px;
    outline: none;
    border: 2px solid rgb(41, 3, 253);
    border-radius: 5px;

}

.course-name {
    border: none;
    padding-left: 10px;
}

.input-course-name {
    width: inherit;
    border: none;
    outline: none;
}

.input-course-name:focus {
    border: none;
    outline: none;
}

.create-new-course {
    width: 50px;
}

.button-create-new-course {
    border: none;
}


.button-create-new-course:focus {
    border: none;
    outline: none;
}