@keyframes open-back {
    to {
        opacity: 1;
      }
}

@keyframes open-modal {
    to {
        opacity: 1;
        margin: 150px auto;
      }
}

.modal-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(45, 46, 48, 0.7);
    opacity: 0;
    animation-name: open-back;
    animation-duration: .6s;
    animation-fill-mode: forwards;
    pointer-events: all;
}

.modal-add-course {
    display: grid;
    grid-template-rows: 70px 1fr 50px;
    opacity: 0;
    width: 700px;
    height: 610px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px 5px;
    margin-top: -100%;
    background-color: rgb(255, 255, 255);
    animation-name: open-modal;
    animation-duration: .6s;
    animation-fill-mode: forwards;
    position: relative;
}

.modal-header-add-course {
    position: relative;
}

.head-modal {
    display: flex;
    margin-left: 100px;
    padding-top: 25px;
}

.button-close {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    background-color: #00CCF2;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    color: white;
}

.button-close:focus {
    border: none;
    outline: none;
}

.input-course-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 40px;
    outline: none;
    border: 2px solid rgb(41, 3, 253);
    border-radius: 5px;

}

.create-course {
    display: grid;
    grid-template-rows: 45px 50px 15px 45px 160px 15px 45px 50px 15px;
    width: 70%;
    margin: 0 auto;
}

.course-data {
    display:flex;
    justify-content: flex-start;
    width: 100%;
    border: none;
    align-items: center;
}

.new-course-header {
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.course-name {
    width: inherit;
    height: 40px;
    border: 2px solid rgba(162, 163, 194, 0.686);
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
}

.error-no-name, .error-no-description, .error-no-duration {
    display: flex;
    justify-content: flex-start;
    width: inherit;
    color: red;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
}

.course-description {
    width: inherit;
    height: 150px;
    border: 2px solid rgba(162, 163, 194, 0.686);
    outline: none;
    border-radius: 5px;
    word-break: break-word;
    resize: none;
    padding-left: 10px;
    padding-top: 7px;
}

.course-duration {
    padding-left: 13px;
    width: 50px;
    height: 40px;
    border: 2px solid rgba(162, 163, 194, 0.686);
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
}

.course-duration:focus {
    outline: none;
}

.create-new-course {
    width: 50px;
}

.select-delete {
    display: flex;
    justify-content: space-around;
    height: 55px;
}

.button-select {
    background-color: #00CCF2;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: #F5FBFF;
    font-family: 'Montserrat', semi-bold;
    font-size: 16px;
}

.button-select:focus {
    border: none;
    outline: none;
}
