.modal-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.7s ease;
    opacity: 1;
    pointer-events: all;
}

.modal-add-course {
    display: grid;
    grid-template-rows: 70px 1fr 50px;
    width: 400px;
    height: 250px;
    border: 3px solid rgb(41, 3, 253);
    border-radius: 5px;
    padding: 5px 5px;
    margin: 150px auto;
    background-color: rgb(255, 255, 255);
    transition: all 0.7s ease;
    position: relative;
}

.input-course-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 40px;
    outline: none;
    border: 2px solid rgb(41, 3, 253);
    border-radius: 5px;

}

.input-course-text {
    width: 100%;
    border: none;
    padding-left: 10px;
}

.input-course-name {
    width: inherit;
    border: none;
    outline: none;
}

.input-course-name:focus {
    border: none;
    outline: none;
}

.create-new-course {
    width: 50px;
}

.button-create-new-course {
    border: none;
}


.button-create-new-course:focus {
    border: none;
    outline: none;
}