.login-form {
    width: 300px;
    height: 301px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 3px 6px #272d3b36;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25%;
    left: 40%;
}

.login-form span {
    height: 37px;
    text-align: left;
    font-size: 28px;
    margin-bottom: 13px;
    font-family: 'Montserrat';
    font-weight: 700;
}
.form-label{
    font-size: 12px;
}
.form-input{
    margin-bottom: 11px;
}

