.login-form {
    width: 40%;
    margin: 0 auto;
    border: 1px solid salmon;
    border-radius: 6px;
    padding: 15px;
}

.form-field {
    display: flex;
}

.form-field span {
    flex-shrink: 0;
    width: 100px;
    text-align: left;
}

.form-field input {
    flex-grow: 1;
    border: 1px solid salmon;
}

.login-btn {
    width: 150px;
    text-align: center;
    background-color: salmon;
    color: white;
    margin: 0 auto;
    display: block;
}