.login-form {
    width: 300px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 3px 6px #272d3b36;
    padding: 35px 16px 20px 16px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    top: 25%;
    left: 40%;
}

.login-form h2 {
    margin-top: 0;
    margin-bottom: 13px;
    font-weight: bold;
    font-size: 26px;
}

.login-form .common-button {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

.login-form .form-control button{
    position: absolute;
    right: 20px;
    bottom: 70px;
    width:30px;
    height:30px;
}

.close{
    color: #ffff;
}

.open{
    color: #00ccf2;
}
