.search-component{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 350px;
    height: 50px;
    font-size: 20px;
}



.input input{
    border: none;
    width: 300px;
    margin-left: 5px;
}

.input input:active{
    border: none;
}

.input input:focus{
    border: none;
}