.confirmation-dialog {
    transition: all 0.3s ease;
    opacity: 1;
}
.confirmation-dialog.hidden {
    opacity: 0;
}

.confirmation-dialog-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.2;
    background-color: black;
}

.confirmation-dialog-content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 3px 3.5px rgba(39,45,59,0.2);
    text-align: left;
    background: white;
}

.confirmation-dialog-content button {
    width: 110px;
    height: 40px;
    border-radius: 20px;
    background-color: #00ccf2;
    border: none;
    outline: none;
    color: white;
}

.confirmation-dialog-header{
    height: 50px;
}

.confirmation-dialog-body{
    height: 160px;
}

.confirmation-dialog-footer{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}