.payment{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: #f4f6fc9f;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
}

.payment.visible{
    opacity: 1;
    pointer-events: all;
}

.inner-payment{
    width: 600px;
    height: max-content;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 6px #272d3b36;
    margin: 40%;
    border-radius: 12px;
    transition: all .5s ease;
    margin-top: -100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.inner-payment.visible{
    position: absolute;
    opacity: 1;
    margin-top: 10%;
    flex-direction: column;
    padding: 10px;
}

.header-payment{
    text-align: left;
    font-size: 28px;
    color: #2E384D;
    margin-bottom: 13px;
}

.input-row{
    display: flex;
    flex-direction: column;
    margin-bottom: 11px;
}

.input-row label{
    text-align: left;
    font-size: 12px;
    color: #8C98A9;
}

.input-row input{
    margin-top: 7px;
    width: 272px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #E0E7FF;
    font-size: 13px;
    color: #2E384D;
    outline: none;
}

