
  
  .bloc-tabs {
    display: flex;
  }
  .tabs {
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 400;
    padding: 15px;
    text-align: center;
    width: 50%;
    background:none;
    cursor: pointer;
    border: none;
    box-sizing: content-box;
    position: relative;
    outline: none;
    text-decoration: none;
    color: #272D3B;
  }
 
  .active-tabs  {
    font-weight: bold;
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
  }
  
