.list-group{
    display: grid;
    grid-template-columns: 200px 200px;
    padding: 10px;
}

.group-members-list{ 
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 20px;
    box-shadow: 0 3px 6px #272d3b36;
    padding: 10px;
}

@media screen and (max-width: 600px){
    .list-group{
        display: flex;
        flex-direction: column;
    }
}