.course-item {
    height: 158px;
}
.course-item .title {
    font-weight: 700;
}

.homework-item+.homework-item {
    margin-top: 10px;
}

.homework-item .row {
    height: 29px;
    width: 400px;
    display: flex;
    justify-content: start;
}

.homework-item .row div:first-child {
    width: 400px;
}