.course-edition-container {
}

.current-course-name {
    position: relative;
    margin: 20px auto;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(39, 45, 59, .15);
    width: 1000px;
    text-align:center;
}

.course-update {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.new-themes-course {
    
}
.theme:hover{
    background-color: rgba(0, 211, 248, 0.15);
    border-radius: 5px;
    cursor: pointer;
} 
.new-themes-header, .program-course-header {
    font-size: 25px;
    margin-bottom: 20px;
}

.new-themes-container, .program-course {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.new-theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 350px;
    height: 50px;
    font-size: 20px;
    border-bottom: 1px solid rgba(39, 45, 59, .15);
}

.new-theme:hover{
    background-color: rgba(0, 211, 248, 0.15);
    border-radius: 5px;
    cursor: pointer;
} 

.true{
    background-color: rgba(197, 244, 186, 0.26);
    border: 2px solid rgb(89, 133, 78);
}

.button-add-theme {
    background-color: rgba(255, 255, 255, 0);
    background-size: contain;
    width: 32px;
    height: 32px;
    outline: none;
    border: none;
}

.button-add-theme:focus {
    border: none;
    outline: none;
}

.program-course {
    width: 600px;
}

.theme {
    display: grid;
    grid-template-columns: 90% 10%;
    width: inherit;
    height: 50px;
    border-bottom: 1px solid rgba(39, 45, 59, .15);
    font-size: 20px;
}

.theme-name {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
}

.theme-delete {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.button-theme-delete {
    background-color: rgba(255, 255, 255, 0);
    background-size: contain;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
}

.button-theme-delete:focus {
    border: none;
    outline: none;
}

