.course-edition-container {
    display: grid;
    grid-template-rows: 50px 1fr;
    width: 1050px;
    margin: 0 auto;
}

.current-course-header-name {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    border-bottom: 1px solid rgba(39, 45, 59, .15);
}

.course-update {
    display: grid;
    grid-template-columns: 350px 600px;
    gap: 100px;
    margin-top: 30px;
}

.current-course-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.new-themes-course, .program-current-course-container, .materials-current-course-container {
    display: grid;
    grid-template-rows: 60px 1fr;
}

.program-course-header{
    cursor: pointer;
    z-index: 1;
    background-color: white;
}

.materials-course-header {
    cursor: pointer;
    z-index: 1;
}

.program-course-header-button-open, .materials-course-header-button-open, .new-themes-header-button-add {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: #00CCF2;
    margin-right: 20px;
    cursor: pointer;
    color: #F5FBFF;
}

.program-course-header-button-open:focus, .materials-course-header-button-open:focus, .new-themes-header-button-add:focus {
    outline: none;
    border: none;
}

.new-themes-course-header {
    display: grid;
    grid-template-columns: 1fr 50px;
}

.theme:hover{
    background-color: rgba(0, 211, 248, 0.15);
    border-radius: 5px;
    cursor: pointer;
} 
.new-themes-header-text, .program-course-header, .materials-course-header {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    align-items: center;
    height: 40px;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
}

.new-themes-container, .program-course {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 350px;
    height: 50px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    border-bottom: 1px solid rgba(39, 45, 59, .15);
}

.new-theme:hover{
    background-color: rgba(0, 211, 248, 0.15);
    border-radius: 5px;
    cursor: pointer;
} 

.button-add-theme {
    background-color: rgba(255, 255, 255, 0);
    background-size: contain;
    width: 32px;
    height: 32px;
    outline: none;
    border: none;
}

.button-add-theme:focus {
    border: none;
    outline: none;
}

@keyframes accordionEffectOpen {
    to {
        opacity: 1;
        height: max-content;
        margin-top: 0;
    }
}

@keyframes accordionEffectClose {
    to {
        margin-top: -70px;
        opacity: 0;
        height: 0;
    }
}

.program-course.visible{
    margin-top: -50px;
    animation: .6s forwards accordionEffectOpen;
}

.program-course.unvisible{
    animation: .3s forwards accordionEffectClose;
    
    
}


.program-course{
    width: 600px;
    margin-top: -50px;
}

.theme {
    display: grid;
    grid-template-columns: 90% 10%;
    width: inherit;
    height: 50px;
    border-bottom: 1px solid rgba(39, 45, 59, .15);
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
}

.theme-name {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
}

.theme-delete {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.button-theme-delete {
    background-color: rgba(255, 255, 255, 0);
    background-size: contain;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
}

.button-theme-delete:focus {
    border: none;
    outline: none;
}

