.group-body{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (max-width: 600px){
    .group-body{
        flex-direction: column;
    }
}