@keyframes open-modal-back {
    to {
        opacity: 1;
    }
}

@keyframes open-modal-delete {
    to {
        opacity: 1;
        margin: 250px auto;
    }

}

.modal-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: all;
    animation-name: open-modal-back;
    animation-duration: .6s;
    animation-fill-mode: forwards;
}

.modal {
    display: grid;
    grid-template-rows: 70px 1fr 50px;
    width: 500px;
    height: 250px;
    border-radius: 20px;
    padding: 5px 5px;
    margin-top: -100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    opacity: 0;
    animation-name: open-modal-delete;
    animation-duration: .6s;
    animation-fill-mode: forwards;
}

.modal-header {
    position: relative;
}

.button-close-course-delete {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #00CCF2;
    border-radius: 50%;
    color: #F5FBFF;
}

.button-close-course-delete {
    outline: none;
    border: none;
}

.modal-text {
    display: flex;
    align-items: flex-start;
    padding: 0 30px;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 600;
}

.modal-bottom {
    display: flex;
    justify-content: space-around;
}

.button-yes, .button-no {
    background-color: #00CCF2;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: #F5FBFF;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
}

.button-yes:focus, .button-no:focus {
    outline: none;
    border: none;
}