.alerts-window .alert{
    width: 92%;
    height: 3rem;
    border: 1px solid blue;
    border-radius: 3px;
    background: lightblue;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.alert > * {
    color: darkblue;
}

.alert button {
    border: none;
    background: none;
    outline: none;
    font-size: 2rem;
    transform: scaleY(0.8);
}

.alert {
    transition: all 1s ease;
    max-height: 50px;
}
.alert.alert-closed {
    transform: scale(0);
    max-height: 0;
    padding: 0;
    margin: 0;
}