.user-page{
    width: 100%;
    height:100%;
    margin: 0 auto;
    text-align: left;
}

.user-list{
    width: 900px;
    margin-left: 5px;
}

.user-list-head{
    font-weight: 600;
    font-size: 14px;
}

.user-list-head .column span{
    cursor: pointer;
}

.user-list-item , .user-list-head{
    display: grid;
    grid-template-columns: 70px 155px 155px 111px 121px 111px 181px;
    margin: 2px;
    min-height: 50px;
    border-bottom: 1px solid rgba(39, 45, 59, 0.15);
    text-align: left;
    font-size: 14px;
    height: max-content;
}


.column, .column-head{
    display: flex;
    margin: 0 10px;
    align-self: center;
}

.column-head{
    justify-content: space-between;
}

.user-photo{
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

.button-style{
    height: 40px;
    width: 140px;
    background-color: #00CCF2;
    color: #FFFF;
    font-size: 16px;
    font-weight: 700;
    margin:0 8px;
    border-radius: 25px;
    border: none;
    line-height: 40px;
    text-align: center;
}

.break-word{
    word-wrap: break-word;
    word-break: break-all;
}

.multiline{
    display: flex;
    flex-direction: column;
}

