.base-info{
    display: flex;
    flex-direction: column;
    width: 350px;
    text-align: left;
    border-radius: 20px;
    box-shadow: 0 3px 6px #272d3b36;
    padding: 10px;
}

.base-info .title{
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    margin-bottom: 3px;
}

.info{
    border: none;
    display: flex;
    min-height: 30px;
}