.user-edit-form{
    display: flex;
    flex-direction: column;
}

.user-edit-form span{
    display: flex;
    justify-content: space-around;
}

.bad-feedback{
    width:300px;
    align-self: center;
    padding-left: 5px;
    opacity: 0;
    pointer-events: none;
    transition: 1s ease;
    font-size: 12px;
    color: red;
}
.was-validated :invalid, .was-validated :invalid~.bad-feedback{
    border-color: red;
    opacity: 1;
}
img{
    height: 150px;
}