.user-edit-form{
    display: flex;
    flex-direction: column;
    min-width: 272px;
    margin-left:144px;
}

.user-edit-form span{
    display: flex;
    justify-content: space-around;
}
.user-edit-form form{
    width: 272px;
}

.bad-feedback{
    align-self: left;
    opacity: 0;
    pointer-events: none;
    transition: 1s ease;
    font-size: 12px;
    color:#FF007C;
}
.bad-feedback{
    border-color:#FF007C;
    opacity: 1;
}
img{
    height: 100px;
    width: 100px;
}

.form-row{
    display: flex;
    flex-direction: column;

    height: 90px;
}




.form-row-button{
    justify-content: flex-end;
    flex-direction: row;
}

.multi{
    width: 272px;
}