.user-edit-form{
    display: flex;
    flex-direction: column;
    width: 272px;
    padding: 15px;

}

.user-edit-form span{
    display: flex;
    justify-content: space-around;
}

.bad-feedback{
    align-self: left;
    opacity: 0;
    pointer-events: none;
    transition: 1s ease;
    font-size: 12px;
    color:#FF007C;
}
.was-validated :invalid, .was-validated :invalid~.bad-feedback{
    border-color: rgb(241, 128, 128);
    opacity: 1;
}
img{
    height: 100px;
    width: 100px;
}

.form-row{
    display: flex;
    flex-direction: column;
    margin-top: 11px;
    min-width: 272px;

}
.form-row input{
    height: 40px;
    width: 272px;
    border: 1px solid #E0E7FF;
    border-radius: 5px;
}

.form-row label{
    height: 16px;
    margin-bottom: 7px;

}
.form-row-button{
    justify-content: flex-end;
    flex-direction: row;
}