.user-list{
    margin-left: 5px;
}

.user-list-head{
    font-weight: 500;
}

.user-list-head .column span{
    cursor: pointer;
}

.user-list-item, .user-list-head{
    display: grid;
    grid-template-columns: 160px 160px 90px 70px 190px 160px 60px 60px 60px;
    margin-top: 2px;
}

.user-list-item .column, .user-list-head .column{
    display: flex;
    justify-content: start;
    word-wrap: break-word;
    word-break: break-all;
    text-align: left;
    padding: 10px;
}

.user-list-item button{
    margin:0 4px;
    height: 38px;
}   