.filters{
    position:relative;
    z-index: 0;
    height: 55px;
    overflow-y:visible;
    background-color: #ffffda;
    border-bottom: 2px solid #dada36;
    margin-bottom: 15px;
    align-items: flex-start;
    text-align: left;
  }