.notification {
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    transition: all 1s ease;
}

.notification span{
    padding: 5px;
    flex-grow: 1;
    align-self: center;
    font-weight: bold;
}

.notification .close-btn {
    align-self: start;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    background: none;
    border: none;
    outline: none;
    padding: 7px;
}

.notification .close-btn svg {
    width: 100%;
    height: 100%;
    fill: red;
    display: block;
}

.info-notification {
    border: 2px solid blue;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    background: lightblue;
    color: darkblue;
}

.success-notification {
    border: 2px solid green;
    background: lightgreen;
    color: darkgreen
}

.error-notification {
    border: 2px solid red;
    background: lightpink;
    color: darkred;
}

.hidden {
    opacity: 0;
}