.notification-container {
    width: 400px;
    min-height: 0px;
    position: fixed;
    z-index: 1;
    right: 10px;
    top: 110px;
}

.test-button-container {
    position: absolute;
    top: -50px;
}