.notification-container {
    width: 330px;
    min-height: 0px;
    position: fixed;
    z-index: 1;
    right: 10px;
    top: 110px;
}

.notification-container > div {
    display: flex;
    flex-direction: column;
}

.test-button-container {
    position: absolute;
    top: -50px;
}