.App {
  text-align: center;
}

.app-logo {
  width: 50%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
    display: flex;
    height: 100px;
    border-bottom: 2px solid salmon;
}

.logo-container,
aside {
    flex-grow: 0;
    flex-shrink: 0;
    width: 350px;
    border-right: 2px solid salmon;
}

aside,
main {
    padding-top: 30px;
}

main {
    flex-grow: 1;
}

.header-user-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    padding: 0 20px;
}

.main-content {
    display: flex;
    height: calc(100vh - 100px);
}

.button-style, .button-round {
  background-color: #00CCF2;
  color: #FFFF;
  font-weight: 700;
  border: none;
  text-align: center;
  outline: none;
  font-family: Montserrat;
  margin:0 5px;
}

.button-round{
  margin:0 5px;
  width: 40px;
  height: 40px;
  border-radius: 25px;
}

.button-style{
  height: 40px;
  min-width: 110px;
  border-radius: 25px;
}

.list{
  display: grid;
  min-height: 50px;
  border-bottom: 1px solid rgba(39, 45, 59, 0.15);
  text-align: left;
  font-size: 14px;
  font-family: Montserrat;
}

.form-label{
  height: 16px;
  margin-bottom: 7px;
  font-family: 'Montserrat';
}

.form-input{
  height: 40px;
  width: 272px;
  border: 1px solid #E0E7FF;
  border-radius: 5px;
  margin-bottom: 11px;
  font-family: 'Montserrat';
}

.test-page-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.user-photo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0px;
}

.list-header{
  font-family: 'Montserrat';
  font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 3px;
    text-align: left;
}