.App {
    display: flex;
    flex-direction: row;
}

.app-logo {
    width: 50%;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

header {
    display: flex;
    height: 100px;
}

aside {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background: #2D62ED;
    position: relative;
}

aside.nothide {
    flex-grow: 0;
    flex-shrink: 0;
    width: 240px;
}

aside.hide {
    width: 72px;
}

.right-section, main {
    flex-grow: 1;
    overflow-y: scroll;
}

.right-section {
    padding-left: 32px;
}

.header-user-actions {
    display: flex;
    height: 100px;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    padding: 0 20px;
}

.page-title {
    margin: 0px;
    font-size: 26px;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    flex-grow: 1;
}

.common-button, .round-button {
    background-color: #00ccf2;
    color: #ffff;
    border: none;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.common-button+.common-button, .round-button+.round-button {
    margin-left: 10px;
}

.round-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.narrow .round-button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.common-button {
    height: 40px;
    border-radius: 25px;
    min-width: 110px;
    font-size: 16px;
    font-weight: 600;
    padding: 0 25px;
}

.list {
    display: grid;
    min-height: 50px;
    border-bottom: 1px solid rgba(39, 45, 59, 0.15);
    text-align: left;
    font-size: 14px;
}

.form-control+.form-control {
    margin-top: 11px;
}

.form-label {
    font-size: 12px;
    margin-bottom: 7px;
    display: inline-block;
    height: 16px;
    line-height: 16px;
}

.form-input {
    height: 40px;
    width: 272px;
    border: 1px solid #e0e7ff;
    border-radius: 5px;
    margin-bottom: 11px;
    outline: none;
    font-size: 14px;
    padding: 0 13px;
    font-weight: 600;
}

.form-row {
    display: flex;
    flex-direction: column;
    min-height: 90px;
    min-width: 450px;
}


.form-input-textarea {
    min-height: 200px;
    max-height: 258px;
    min-width: 450px;
    max-width: 450px;
    border: 1px solid #e0e7ff;
    border-radius: 5px;
    margin-bottom: 11px;
    outline: none;
    font-size: 14px;
    padding: 0 13px;
    font-weight: 600;
}

.test-page-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.mini-button {
    height: 12px;
    width: 12px;
    align-self: center;
    text-align: center;
    font-size: 9px;
    padding: 0px;
}

.logo-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nothide .logo-container svg {
    transform: scale(1.5);
}

aside.hide .logo-container svg {
    transform: scale(0.75);
}