.app-logo {
    width: 50%;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

header {
    display: flex;
    height: 100px;
}

.logo-container {
    border-top-left-radius: 16px;
    background: #2D62ED;
}

aside {
    border-bottom-left-radius: 16px;
    background: #2D62ED;
}

.logo-container,
aside.nothide {
    flex-grow: 0;
    flex-shrink: 0;
    width: 240px;
}

aside.hide {
    width: 72px;
}

aside,
main {
    padding-top: 30px;
}

main {
    flex-grow: 1;
}

.header-user-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    padding: 0 20px;
}

.main-content {
    display: flex;
    height: calc(100vh - 100px);
}

.common-button,
.round-button {
    background-color: #00ccf2;
    color: #ffff;
    border: none;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.common-button + .common-button,
.round-button + .round-button {
    margin-left: 10px;
}

.round-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.common-button {
    height: 40px;
    border-radius: 25px;
    min-width: 110px;
    font-size: 16px;
    font-weight: 600;
    padding: 0 25px;
}

.list {
    display: grid;
    min-height: 50px;
    border-bottom: 1px solid rgba(39, 45, 59, 0.15);
    text-align: left;
    font-size: 14px;
}

.form-control + .form-control {
    margin-top: 11px;
}

.form-label {
    font-size: 12px;
    margin-bottom: 7px;
    display: inline-block;
    height: 16px;
    line-height: 16px;
}

.form-input {
    height: 40px;
    width: 272px;
    border: 1px solid #e0e7ff;
    border-radius: 5px;
    margin-bottom: 11px;
    outline: none;
    font-size: 14px;
    padding: 0 13px;
    font-weight: 600;
}

.test-page-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.mini-button {
    height: 12px;
    width: 12px;
    align-self: center;
    text-align: center;
    font-size: 9px;
    padding: 0px;
}

.user-photo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0px;
}

.list-header{
  font-family: 'Montserrat';
  font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 3px;
    text-align: left;
}