.user-page {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: left;
}

.user-list {}

.narrow-user-list {
    width: 300px;
}

.user-list-head {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.user-list-head .column span {
    cursor: pointer;
}

.user-list-item, .user-list-head {
    grid-template-columns: 60px 20% 13% 10% 150px 15% 150px;
    margin: 2px 0;
    height: max-content;
}

.narrow.user-list-item, .narrow.user-list-head {
    grid-template-columns: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    padding: 0px 24px;
    border-bottom: 1px solid rgba(39, 45, 59, 0.15);
    border-radius: 16px;
    font-size: 12px;
}

.narrow.user-list-item .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 58px;
    align-content: center;
}

.header .base-data {
    align-items: center;
    display: flex;
    font-weight: bold;
}

.narrow.user-list-item .control {
    display: flex;
    align-items: center;
}

.narrow.user-list-item .control button {
    height: 20px;
    width: 20px;
    padding: 0px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transform: rotateZ(270deg);
    transition: 0.2s;
}

.narrow.user-list-item .control button.is-active {
    transform: rotateZ(90deg);
    transition: 0.2s;
}

.column, .column-head, .column-button {
    display: flex;
    align-self: center;
    font-size: 14px;
    margin-bottom: 3px;
}

.narrow.user-list-item .content {
    max-height: 0px;
    overflow: hidden;
    transition: 0.32s;
    padding-bottom: 0px;
}

.narrow.user-list-item .content.is-active {
    max-height: 500px;
    transition: 0.32s;
    padding-bottom: 24px;
}

.narrow .content .row {
    display: grid;
    grid-template-columns: 53px 100px;
}

.narrow .content .row div {
    padding-bottom: 10px;
}

.narrow .content .row div:first-child {
    justify-self: end;
    padding-right: 11px;
}

.narrow .content .buttons {
    display: flex;
    justify-content: flex-end;
}

.narrow p {
    margin: 0;
}

.column-head {
    justify-content: space-between;
    height: 32px;
}

.column-button {
    justify-content: center;
}

.user-photo {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    margin: 0px;
}

.narrow .user-photo {
    margin-right: 10px;
}

.break-word {
    word-wrap: break-word;
    word-break: break-all;
}

.multiline {
    display: flex;
    flex-direction: column;
}

.role {
    display: flex;
    flex-direction: row-reverse;
}