.list{
    border:none;
    grid-template-columns: 60px 250px;
    margin: 2px 0;
    align-self: center;
}

.column{
    display: flex;
    align-self: center;
    font-size: 14px;
    margin-bottom: 3px;
}