.list-member{
    grid-template-columns: 60px 140px;
    margin: 2px 0;
    align-self: center;
    display: grid;
    min-height: 50px;
    text-align: left;
    font-size: 14px;
}

.column{
    display: flex;
    align-self: center;
    font-size: 14px;
    margin-bottom: 3px;
}

